.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  margin: 32px auto;
  max-width: 500px;
}

.field {
  width: 100%;
}

.button {
  width: 100%;       
  height: 40px;
  font-weight: 500;
}



   
