.formCard {
    padding: 24px;
    margin: 32px auto;
    max-width: 500px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .fieldGroup {
    width: 100%;
  }
  
